<!-- Cover page -->
<amp-story standalone title="My Best Photos" publisher="Dartegnian Velarde" publisher-logo-src="assets/icons/icon-512x512.png"
	poster-portrait-src="assets/img/stories/best-photos-story/cover.webp">
	<amp-story-page id="cover" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/cover.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page1" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20221221_090254.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page2" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20230218_151038.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page3" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20230308_013139.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page4" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20230106_091138.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page5" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20221230_165227.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page6" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20221230_165754.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page7" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20230107_164540.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page8" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20230124_154141.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page9" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
				<amp-img src="assets/img/stories/best-photos-story/20230310_152735.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page10" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20230310_201938.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page11" auto-advance-after="7s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20230311_210920.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page12" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/20230419_144158.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page13" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/IMG_20230528_015251_525.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page14" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/best-photos-story/IMG_20230528_015246_105.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

</amp-story>
