<!-- Cover page -->
<amp-story standalone title="Places I've Been To" publisher="Dartegnian Velarde" publisher-logo-src="assets/icons/icon-512x512.png"
	poster-portrait-src="assets/img/stories/places-story/cover.webp">
	<amp-story-page id="cover" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/cover.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>My first company outing was in Subic, Zambales</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page1" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/IMG_20230526_003147_262.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page2" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/WP_20180421_13_36_11_Rich_LI.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page3" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/WP_20180623_05_46_36_Rich_LI.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>Hiking with my first coworkers!</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page4" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/WP_20180623_09_15_02_Pro_LI.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page5" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/WP_20190216_17_06_54_Rich.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://uplb.edu.ph/" title="UPLB Website">UP Los Baños</a>
		</amp-story-page-outlink>
	</amp-story-page>

	<amp-story-page id="page6" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/WP_20171211_15_24_40_Pro_LI.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://travel.sygic.com/en/poi/carriedo-street-poi:23222" title="Page about Carriedo Street">Carriedo Street in Manila</a>
		</amp-story-page-outlink>
	</amp-story-page>

	<amp-story-page id="page7" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/IMG_20220507_175339.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://www.smsupermalls.com/mall-directory/sm-by-the-bay/information/" title="SM By the Bay Website">SM By the Bay</a>
		</amp-story-page-outlink>
	</amp-story-page>

	<amp-story-page id="page8" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/20191121_221447.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://www.instagram.com/fillingstationbarcafe" title="Filling Station Bar Cafe">Filling Station Bar Cafe</a>
		</amp-story-page-outlink>
	</amp-story-page>

	<amp-story-page id="page9" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
				<amp-img src="assets/img/stories/places-story/WP_20171121_15_33_26_Pro_LI.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page10" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/places-story/IMG_20220425_191917.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="top-gradient--black">
			<em>My favorite hangout spot.</em>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://www.starbucks.com/store-locator/store/19366/32nd-and-7th-avenue-32nd-st-corner-7th-st-bonifacio-global-taguig-city" title="Starbucks Store Directory">Starbucks 32nd & 7th Ave</a>
		</amp-story-page-outlink>
	</amp-story-page>
</amp-story>
