<!-- Cover page -->
<amp-story standalone title="Dart's Core Memories" publisher="Dartegnian Velarde" publisher-logo-src="assets/icons/icon-512x512.png"
	poster-portrait-src="assets/img/stories/core-memories-story/cover.webp">
	<amp-story-page id="cover" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/cover.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical">
			<em class="text-black" style="
			background-color: #e5af73;
			width: auto;
			font-size: 1.5rem;
			padding: 0.5rem 1rem;
		">My last set of classmates in high school</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page1" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/IMG_20230528_003842_138.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>This photo was taken in my 2nd year of high school. It's past a decade old but it's still being used in my profile pictures.</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page2" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/IMG_20230528_004030_012.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>Yeesh, awkward smile.</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page3" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/IMG_20230528_003858_024.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>My first prom partner: LK. She's now one of my life mentors and is one of my closest friends.</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page4" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/WP_000571.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="text-black">
			<em>My college blockmates sleeping in the library.</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page5" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/852715860_260289.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page6" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/IMG_20230528_003955_875.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>I attended "Jesus Camp" and made friends there!</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page7" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/IMG_20230528_004551_047.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>My college friends and I at our workstations for a hackathon at Microsoft Philippines. We won, thankfully.</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page8" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/IMG_20230528_004605_760.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="text-black">
			<em>We won another hackathon held at FEU Tech! Go, APC DevSquad!</em>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://github.com/Dartegnian/Agora" title="GitHub link for Agora">See our winning entry</a>
		</amp-story-page-outlink>
	</amp-story-page>

	<amp-story-page id="page9" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/IMG_20230528_002955_704.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>Try out Indian food with my first company's coworkers!</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page10" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/WP_20171121_16_51_29_Rich_LI.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>Meeting my big sister Elaine for the first time was so surreal!</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page11" auto-advance-after="7s">
		<amp-story-grid-layer template="fill">
			<amp-video autoplay loop width="720" height="1280" poster="assets/img/stories/core-memories-story/imctaguigdiscord.webp" layout="responsive">
				<source src="assets/videos/stories/core-memories-story/imctaguigdiscord.mp4" type="video/mp4">
			</amp-video>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page12" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/IMG_20230528_003812_485.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page13" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/2019-08-18 08.58.15 1.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page14" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/IMG_20230528_003551_377.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page15" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/core-memories-story/received_2464619386984302.jpeg" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page16" auto-advance-after="7s">
		<amp-story-grid-layer template="fill">
			<amp-video autoplay loop width="720" height="1280" poster="assets/img/stories/core-memories-story/jaymz.webp" layout="responsive">
				<source src="assets/videos/stories/core-memories-story/jaymz.mp4" type="video/mp4">
			</amp-video>
		</amp-story-grid-layer>
	</amp-story-page>
</amp-story>