@import "material-you";

:host {
	display: flex;
}

.accent-switcher {
	display: flex;
    margin: 2rem 0rem;
    height: 4rem;
	gap: 1rem;
	flex: 1;
	margin-bottom: 0rem;

	@include media-breakpoint-down(lg) {
		max-width: 100%;
		margin-bottom: 0rem;
	}

	@include media-breakpoint-down(md) {
	}

	&__container {
		display: flex;
		flex: 1;
		user-select: none;
		overflow: hidden;
		border-radius: 2rem;
		transition: border-radius $theme-transition-speed ease;
		border: transparent solid 3px;

		&--selected {
			border: #{var(--md-sys-color-primary)} solid 3px;
			border-radius: 1rem;

			& > .accent-switcher__picture {
				transition: filter $theme-transition-speed ease;
				filter: blur(0px);
			}
		}
	}

	&__picture {
		transition: filter $theme-transition-speed ease;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		cursor: pointer;
	}

	&__custom-image {
		display: flex;
		position: relative;
    	width: 100%;
		max-width: 100%;
		justify-content: center;
		align-items: center;
		@include material-colored--primary;
	}

	&__file-input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	&__custom-image-container {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__custom-image-img {
		width: 100%;
		min-height: 100%;
		object-fit: cover;
		cursor: pointer;
	}

	&__custom-image-delete {
		@include material-colored--primary;
		// padding: 1rem 0.5rem;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	&__file-icon {
		font-size: 1rem;
		margin-right: 0.5rem;

		@include media-breakpoint-down(lg) {
			font-size: 1.5rem;
			margin-right: 0rem;
		}
	}

	&__file-text {
		display: flex;
		align-items: center;
		padding: $button-padding;
	}

	&__file-text,
	&__file-select-text {
		font-size: 0.8rem;
	}

	&__file-select-text {
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}

.accent-switcher .responsive-image source {
	filter: blur(12px);
}

:host.accent-switcher .responsive-image {
	filter: blur(12px);
}

.responsive-image {
	filter: blur(12px);
}