<!-- Cover page -->
<amp-story standalone title="Dart's Closest Friends" publisher="Dartegnian Velarde" publisher-logo-src="assets/icons/icon-512x512.png"
	poster-portrait-src="assets/img/stories/friends-story/cover.webp">
	<amp-story-page id="cover" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/friends-story/cover.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="top-gradient--black">
			<h1 animate-in="whoosh-in-left">My closest friends</h1>
			<em>Cover: My best friend, Loy.</em>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom">
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page1" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/friends-story/IMG_20230526_003011_975.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page2" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/friends-story/IMG_20230526_002954_912.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page3" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/friends-story/IMG_20230526_002952_253.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page4" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/friends-story/20220219_145032.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page5" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/friends-story/IMG_20230526_003021_441.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page6" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/friends-story/20230204_113454.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page7" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/friends-story/IMG_20230526_003029_070.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page8" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/friends-story/IMG_20221202_222209.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>


	<amp-story-page id="page9">
		<amp-story-grid-layer template="vertical" class="noedge">
			<div class="wrapper">
				<amp-img src="assets/img/stories/friends-story/IMG_20230526_003223_858.webp" width="720" height="1280" layout="responsive" animate-in="fade-in"
					animate-in-delay="0.3s">
				</amp-img>
				<amp-img src="assets/img/stories/friends-story/20220129_162727.webp" width="720" height="1280" layout="responsive" animate-in="fade-in"
					animate-in-delay="0.5s">
				</amp-img>
				<amp-img src="assets/img/stories/friends-story/IMG_20230526_003030_872.webp" width="720" height="1280" layout="responsive" animate-in="fade-in"
					animate-in-delay=".7s">
				</amp-img>
				<amp-img src="assets/img/stories/friends-story/IMG_20220611_211905.webp" width="720" height="1280" layout="responsive" animate-in="fade-in"
					animate-in-delay=".9s" class="img-cover">
				</amp-img>
			</div>
		</amp-story-grid-layer>
	</amp-story-page>
</amp-story>