<button (click)="toggleThemeMode()" class="theme-switcher">
	<span class="material-symbols-rounded theme-switcher__toggle-icon">
		<ng-container *ngIf="themeMode === 'light'; else lightMode">
			dark_mode
		</ng-container>
		<ng-template #lightMode>
			light_mode
		</ng-template>
	</span>
	Toggle theme
</button>
