@import "material-you";

:host {
	display: flex;
	z-index: 0;
}

.profile-card {
	@include material-colored--primary;

    overflow: hidden;
    display: flex;
	flex-direction: column;
	border-radius: $container-border-radius;
	width: 100%;

	@include media-breakpoint-down(md) {
		width: 100%;
		height: 100%;
	}

	&__header {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding-top: 4rem;

		@include media-breakpoint-only(md) {
			margin-bottom: 1rem;
		}

		@include media-breakpoint-down(md) {
			margin-bottom: 1rem;
			align-items: center;
		}
	}

	&__cover-container {
		display: flex;
		width: 100%;
		min-width: 100%;
		aspect-ratio: 16/9;
		-webkit-mask: linear-gradient(to top, transparent 10%, #000);
    	mask: linear-gradient(to top, transparent 10%, #000);
		position: absolute;
		top: 0;
		max-height: 100%;
	}

	&__cover {
		display: flex;
		width: 100%;
		position: absolute;
		transition: opacity 0.25s ease;
		overflow: hidden;
		border-radius: $container-border-radius;
		aspect-ratio: 16/9;

		&--first-image-disabled {
			opacity: 0;
		}

		&--second-image-disabled {
			opacity: 0;
		}

		&--custom-image-disabled {
			opacity: 0;
		}

		&--custom-image {
			object-fit: cover;
		}
	}

	&__photo-container {
		display: flex;
		z-index: 4;
		margin-top: auto;
		height: 150px;
		width: 150px;

		@include media-breakpoint-down(md) {
			margin-top: 5rem;
			height: 115px;
			width: 115px;
		}
	}

	&__profile-photo {
		@include material-mask--jagged-circle;
		width: 150px;
		padding: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: center;
		margin-left: 1.5rem;
		background-color: #{var(--md-sys-color-secondary-container)};

		@include media-breakpoint-down(md) {
			margin-left: 0rem;
			width: 115px;
		}
	}

	&__photo {
		@include material-mask--jagged-circle;
		user-select: none;
		width: 100%;
		aspect-ratio: 1/1;
	}

	&__text {
		padding: $container-padding;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		align-items: space-between;
	}

	&__name {
		padding: 1rem;
		padding-bottom: 0rem;
		display: flex;
		align-items: center;
		font-size: 1.5rem;
		font-weight: bold;
		width: max-content;
		margin-top: 1.5rem;
		margin-left: 0.5rem;
		z-index: 4;

		@include media-breakpoint-down(md) {
			margin-left: 0rem;
			padding: 0rem 1rem;
		}
	}

	&__description {
		margin-left: 1.5rem;
		margin-bottom: 1rem;

		@include media-breakpoint-down(md) {
			margin-left: 0rem;
			margin-bottom: 0rem;
		}
	}

	&__text-bottom {
		display: flex;
	}

	&__info,
	&__tagline {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		flex-wrap: wrap;

		@include media-breakpoint-down(md) {
			justify-content: center;
		}
	}

	&__info {
		margin-bottom: 0.5rem;

		& > * {
			@include material-button--basic-primary;
			max-width: max-content;
		}
	}

	&__adjective {
		@include material-chip;
		@include material-basic--primary;
	}

	&__adjective-icon {
		font-size: 1rem;
	}

	&__contact {
		@include material-button--basic-secondary;
	}
}
