<article class="profile-card" itemscope itemtype="http://schema.org/Person">
	<header class="profile-card__header">
		<div class="profile-card__cover-container">
			<img
				*ngIf="customImage"
				[src]="this.customImage"
				class="profile-card__cover profile-card__cover--custom-image"
				[class.profile-card__cover--custom-image-disabled]="activeIndex !== 0"
				alt="Custom image for material theming"
			>
			<responsive-image
				[imageName]="coverImage + '-min'"
				class="profile-card__cover profile-card__cover--first-image"
				[class.profile-card__cover--first-image-disabled]="isSecondCoverImageActive || activeIndex === 0"
				[imageAlt]="'First cover photo, ' + coverImage + ' image'"
				[isLazyLoaded]="false"
			></responsive-image>
			<responsive-image
				*ngIf="secondCoverImage && activeIndex !== 0"
				[imageName]="secondCoverImage + '-min'"
				class="profile-card__cover profile-card__cover--first-image"
				[class.profile-card__cover--first-image-disabled]="!isSecondCoverImageActive || activeIndex === 0"
				[imageAlt]="'Second cover photo, ' + secondCoverImage + ' image'"
			></responsive-image>
		</div>
		<div class="profile-card__photo-container">
			<div class="profile-card__profile-photo">
				<responsive-image
					imageName="me-min"
					class="profile-card__photo"
					imageAlt="Profile picture"
					[imageWidth]="120" [imageHeight]="120"
					itemProp="image"
					[imageBoundary]="256"
					[isLazyLoaded]="false"
				></responsive-image>
			</div>
		</div>
		<h1 class="profile-card__name" itemprop="name">{{ name }}</h1>
		<span class="profile-card__description" itemprop="description">
			{{ tagline }}
		</span>
	</header>
	<section class="profile-card__text">
		<div class="profile-card__info">
			<a [href]="website" itemprop="url" target="_blank">
				<span class="material-symbols-rounded profile-card__adjective-icon">edit</span>
				Blog
			</a>
			<a [href]="'mailto:' + email" itemprop="email">
				<span class="material-symbols-rounded profile-card__adjective-icon">mail</span>
				Email
			</a>
		</div>
		<span class="profile-card__tagline">
			<span *ngFor="let adjective of adjectives" class="profile-card__adjective">
				<span class="material-symbols-rounded profile-card__adjective-icon">{{ adjective.icon }}</span>
				<span [attr.itemProp]="adjective.itemProp ? adjective.itemProp : null">{{ adjective.name }}</span>
			</span>
		</span>
	</section>
</article>
