<!-- Cover page -->
<amp-story standalone title="My Current Year in Pictures" publisher="Dartegnian Velarde" publisher-logo-src="assets/icons/icon-512x512.png"
	poster-portrait-src="assets/img/stories/current-year-story/cover.webp">
	<amp-story-page id="cover" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/cover.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical">
			<h1>2023</h1>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://www.starcity.com.ph/" title="Link Description">Visit Star City</a>
		</amp-story-page-outlink>
	</amp-story-page>

	<amp-story-page id="page1" auto-advance-after="8s">
		<amp-story-grid-layer template="fill">
			<amp-video autoplay loop width="720" height="1280" poster="assets/img/stories/current-year-story/starflyer.webp" layout="responsive">
				<source src="assets/videos/stories/current-year-story/starflyer.mp4" type="video/mp4">
			</amp-video>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page2" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/IMG_20230310_141931_416.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page3" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/IMG_20230525_051257_437.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page4" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/20230122_131335.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page5" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/20230124_154121.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page6" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/IMG_20230218_205539_910.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page7" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/20230223_032848.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page8" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/20230408_174045.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://www.youtube.com/watch?v=4MhCcZkuhW8" title="LE SSERAFIM - Sour Grapes">Listen to Sour Grapes</a>
		</amp-story-page-outlink>
	</amp-story-page>

	<amp-story-page id="page9" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/20230418_153836.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page10" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/current-year-story/20230227_191856.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
	</amp-story-page>
</amp-story>