<article class="pixel-map__calendar" (click)="setIsModalOpen(false)">
	<header class="pixel-map__section-header">
		<h1 class="pixel-map__section-heading"><span class="pixel-map__header-icon material-symbols-rounded">calendar_month</span> My 2023 Mood Calendar</h1>

		<p class="pixel-map__tagline">A visual representation of how my days in 2023 have been so far. Click on the legend items to highlight days with that mood. You may also click on the days to find out my entries for that day.</p>
	</header>

	<section class="pixel-map__legend">
		<h2 class="pixel-map__legend-header">Legend</h2>
		<section class="pixel-map__legend-items">
			<div
				*ngFor="let legend of legendData"
				class="pixel-map__legend-item"
				[class.pixel-map__legend-item--inactive]="activeStatus && activeStatus !== legend.class"
				(click)="setStatus(legend.class); $event.stopPropagation()"
			>
				<div [class]="'pixel-map__day pixel-map__day--example pixel-map__day--' + legend.class"></div>
				<span class="pixel-map__legend-text">{{ legend.text }}</span>
			</div>
		</section>
	</section>


	<article
		[class]="'pixel-map__modal ' + 'pixel-map__modal--' + activeData.status"
		*ngIf="isModalOpen"
		(click)="$event.stopPropagation()"
	>
		<div [class]="'pixel-map__modal-header-container ' + 'pixel-map__modal-header-container--' + activeData.status">
			<div
				class="pixel-map__icon material-symbols-rounded"
			>
				<div [class]="'pixel-map__icon-container ' + 'pixel-map__icon-container--' + activeData.status">
					<h2>{{ activeData.icon ?? moodIcons[activeData.status] }}</h2>
				</div>
			</div>
			<header
				class="pixel-map__modal-header"
			>
				<h3 [class]="'pixel-map__day-date '  + 'pixel-map__day-date--' + activeData.status">{{ calendar.months[activeMonth]["shortName"] }} {{ activeDate + 1 }} <h2 class="pixel-map__date-name">{{ activeDayName }}</h2></h3>
			</header>
			<div [class]="'pixel-map__modal-close '  + 'pixel-map__modal-close--' + activeData.status" (click)="setIsModalOpen(false)">
				<h2 class="pixel-map__modal-close-text">X</h2>
			</div>
			<div class="pixel-map__spotify-image-container--header" 
			*ngIf="activeData.spotify">
				<img [src]="spotifyImage | safeResourceUrl" class="pixel-map__spotify-image--header" [alt]="'Album cover of ' + activeData.spotify.album" />
			</div>
		</div>
		<section [class]="'pixel-map__modal-content ' + 'pixel-map__modal-content--' + activeData.status">
			<h2 class="pixel-map__modal-header-text" *ngIf="activeData.title">{{ activeData.title }}</h2>
			<p
				class="pixel-map__modal-reason"
				[class.pixel-map__modal-reason--no-header]="!activeData.title"
			>{{ activeData.reason ?? "Nothing noteworthy happened today lol" }}</p>

			<section
				*ngIf="activeData.spotify"
				class="pixel-map__spotify"
			>
				<a
					[href]="activeData.spotify.link"
					target="_blank"
					class="pixel-map__modal-spotify"
				>
					<div class="pixel-map__spotify-image-container">
						<!-- <div class="pixel-map__spotify-icon-container"><i class="pixel-map__spotify-icon iconify" data-icon="mdi:spotify"></i></div> -->
						<img [src]="spotifyImage | safeResourceUrl" class="pixel-map__spotify-image" [alt]="'Album cover of ' + activeData.spotify.album"/>
					</div>
					<div class="pixel-map__spotify-text">
						<div class="pixel-map__spotify-song">
							<span class="pixel-map__spotify-title">{{ activeData.spotify.song }}</span>
							<em class="pixel-map__spotify-artist">{{ activeData.spotify.artist }}</em>
						</div>
					</div>
				</a>
			</section>
		</section>
	</article>

	<div class="pixel-map__calendar-container">
		<div
			class="pixel-map__calendar-area"
			[class.pixel-map__calendar-area--inactive]="isModalOpen"
		>
			<section class="pixel-map__day-markers">
				<div></div>
				<div *ngFor="let day of calendar.days" class="pixel-map__day-numbers">
					{{ day + 1 }}
				</div>
			</section>
		
			<div *ngFor="let month of calendar.months; let m = index" class="pixel-map__day-month">
				<div class="pixel-map__day-month-name">{{ month.shortName }}</div>
				<ng-container *ngFor="let day of calendar.days; let d = index" >
					<div
						[class]="'pixel-map__day pixel-map__day--' + calendar.data?.[m]?.[d]?.status"
						[class.pixel-map__day--invalid]="d+1 > month.days"
						[class.pixel-map__day--inactive]="activeStatus && activeStatus !== calendar.data?.[m]?.[d]?.status"
						[class.material-symbols-rounded]="calendar.data?.[m]?.[d]?.icon"
						(click)="setActiveDate(m, d, $event)"
					>
						<ng-container
							*ngIf="calendar.data?.[m]?.[d]?.icon"
						>{{ calendar.data?.[m]?.[d]?.icon }}</ng-container>
						<ng-container *ngIf="d+1 > month.days">X</ng-container>
					</div>
				</ng-container>
			</div>
		</div>
	</div>

</article>
