@import "material-you";

$gap: 0.25rem;
$icon-width: 6rem;

.pixel-map {
	&__calendar {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__section-header {
		padding: 2rem 0rem;
		padding-top: 0rem;
	}

	&__section-heading {
		margin: 0;
		margin-right: 1rem;
		font-weight: bold;
	}

	&__header-icon {
		font-size: 2rem;
	}

	&__tagline {
		margin-bottom: 0rem;
	}

	&__legend {
		margin-bottom: 3rem;
	}

	&__legend-header {
		font-weight: bold;
		display: flex;
		width: min-content;
		margin-bottom: 1rem;
	}

	&__legend-items {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	&__legend-item {
		display: flex;
		justify-content: center;
		align-items: center;
		@include material-basic--tertiary;
		border-radius: $container-border-radius;
		padding-left: 0rem;
		overflow: hidden;
		font-size: 0.9rem;
		cursor: pointer;
	}

	&__legend-text {
		padding: 0.5rem 1rem;
		font-weight: bold;

		@include media-breakpoint-down(lg) {
			padding: 0.25rem 1rem;
		}
	}

	&__calendar-container {
		overflow: auto;
	}

	&__legend-item,
	&__calendar-area {
		transition:
			opacity $theme-transition-speed ease,
			filter $theme-transition-speed ease
		;

		&--inactive {
			opacity: 0.5;
			filter: blur(2px);
		}

		&--normal {
			opacity: 1;
			filter: blur(0px);
		}
	}

	&__legend-item {
		&--inactive {
			filter: blur(0px);
		}
	}

	&__calendar-area {
		display: grid;
		gap: $gap;
		width: 100%;
		min-width: max-content;
		padding-bottom: 1rem;
	}

	&__modal {
		@include material-basic--tertiary;
		display: flex;
		flex-direction: column;
		border-radius: $container-border-radius;
		position: absolute;
		z-index: 2;
		box-shadow: $elevated-shadow;
		width: 85%;
		top: 50%;
		align-self: center;
		overflow: hidden;
		transition:
			width $theme-transition-speed ease
		;

		@include media-breakpoint-down(lg) {
			width: 100%;
			top: 48%;
		}

		@include media-breakpoint-down(md) {
			top: 53%;
		}
	}

	&__modal-header-container {
		display: flex;
		padding: 1rem;
		position: relative;
		align-items: center;
		justify-content: center;
	}

	&__modal-header {
		color: #FFFFFF;
		border-radius: $container-border-radius;
		padding: $container-padding;
		padding-top: 3rem;
		padding-bottom: 0rem;
		display: flex;
		gap: 0.5rem;
		align-items: center;
		margin-left: $icon-width + 0.5rem;
		margin-bottom: 0rem;
		transition:
			width $theme-transition-speed ease,
			margin $theme-transition-speed ease,
			padding $theme-transition-speed ease,
			text-align $theme-transition-speed ease
		;
		z-index: 1;

		& > * {
			margin-bottom: 0rem;
		}

		@include media-breakpoint-down(md) {
			width: 100%;
			margin-top: 0rem;
			padding-top: 1rem;
			padding-bottom: 3rem;
			margin-left: 0rem;
			text-align: center;
			max-width: initial;
			justify-content: center;
		}
	}

	&__modal-content {
		padding: $container-padding;
		padding-top: 1rem;
	}

	&__modal-header-text {
		margin-left: $icon-width + 1.5rem;
		font-weight: bold;
		margin-bottom: 0rem;

		@include media-breakpoint-down(md) {
			margin-top: 3rem;
			margin-left: 0rem;
			text-align: center;
		}
	}

	&__modal-close {
		margin-left: auto;
		cursor: pointer;
		background-color: #FFFFFF;
		padding: 1rem;
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: baseline;
		z-index: 1;

		& > h2 {
			font-weight: bold;
			font-size: 1rem;
			margin: 0rem;
		}

		@include media-breakpoint-down(md) {
			position: absolute;
			right: 1rem;
		}
	}

	&__modal-overlay {
		content: " ";
		display: flex;
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: black;
		z-index: 1;
		opacity: 0.5;
		backdrop-filter: blur(10px);
	}

	&__modal-close,
	&__modal-content,
	&__modal,
	&__day-date {
		&--special > h2 {
			color: #{var(--calendar-special-color)};
		}
		&--excellent > h2 {
			color: #{var(--calendar-excellent-color)};
		}
		&--good > h2 {
			color: #{var(--calendar-good-color)};
		}
		&--above-average > h2 {
			color: #{var(--calendar-above-average-color)};
		}
		&--average > h2 {
			color: #{var(--calendar-average-color)};
		}
		&--below-average > h2 {
			color: #{var(--calendar-below-average-color)};
		}
		&--bad > h2 {
			color: #{var(--calendar-bad-color)};
		}
		&--awful > h2 {
			color: #{var(--calendar-awful-color)};
		}
	}

	&__spotify {
		width: max-content;
		margin-left: auto;
		margin-top: 1.5rem;

		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}

	&__modal-spotify {
		@include material-container--tertiary;
		display: flex;
		text-decoration: none;
		border-radius: 0.75rem;

		&:hover {
			@include material-inverted--tertiary;
		}
	}

	&__spotify-image-container {
		display: flex;
		position: relative;
		border-radius: 0.75rem;
		overflow: hidden;
		max-width: 6rem;

		&--header {
			display: flex;
			position: absolute;
			width: 100%;
			top: 0;
			right: 0;
			height: 100%;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			z-index: 0;
			mask: linear-gradient(to top, transparent 1%, #000);
		}
	}

	&__spotify-image {
		height: 6rem;
		min-height: 100%;

		&--header {
			width: 100%;
			filter: blur(3px);
			opacity: 50%;
		}
	}

	&__spotify-title {
		font-size: 1.5rem;
		font-weight: bold;

		@include media-breakpoint-down(md) {
			font-size: 1.1rem;
		}
	}

	&__spotify-text {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 1rem 2rem;
	}

	&__spotify-song {
		display: flex;
		flex-direction: column;
	}

	&__spotify-icon {
		height: 1.75rem;
		width: 1.75rem;
	}

	&__spotify-icon-container {
		@include material-colored--tertiary;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0.5rem;
		border-radius: 0.75rem 0 0 0;
		overflow: hidden;
	}

	&__spotify-icon-text {
		margin-top: auto;
		font-size: 0.8rem;
	}

	&__icon {
		@include material-mask--jagged-circle;
		@include material-basic--tertiary;
		position: absolute;
		top: 3.75rem;
		left: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: center;
		padding: 0.5rem;
		width: $icon-width;
		transition:
			top $theme-transition-speed ease,
			left $theme-transition-speed ease,
			transform $theme-transition-speed ease
		;
		z-index: 1;

		@include media-breakpoint-down(md) {
			top: 4.5rem;
			left: 50%;
			transform: translate(-50%, 0%);
		}
	}

	&__icon-container {
		@include material-mask--jagged-circle;
		width: $icon-width;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: center;
		padding: 0.5rem;

		& > h2 {
			color: #FFFFFF;
			font-size: 2rem;
			padding: 1rem;
			margin: 0rem;
		}
	}

	&__modal-reason {
		margin-top: 2rem;
		margin-bottom: 0rem;

		&--no-header {
			margin-top: 4.5rem;

			@include media-breakpoint-down(md) {
				margin-top: 3.5rem;
			}
		}

		@include media-breakpoint-down(md) {
			text-align: center;
		}
	}

	&__day-markers {
		display: grid;
		grid-template-columns: repeat(32, minmax(0, 1fr));
	}
	&__day-numbers {
		display: flex;
		justify-content: center;
	}
	&__day-month {
		display: grid;
		gap: $gap;
		grid-template-columns: repeat(32, minmax(0, 1fr));
	}

	&__day-month-name {
		position: sticky;
		align-self: start;
	}

	&__day-date {
		display: flex;
	}

	&__date-name {
		background-color: #FFFFFF;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: $container-border-radius;
		font-size: 0.9rem;
		margin: 0rem;
		margin-left: 0.5rem;
		padding: 0rem 1rem;
		font-weight: bold;
	}

	&__day {
		display: flex;
		justify-content: center;
		align-items: center;
		@include material-basic--tertiary;
		font-weight: bold;
		cursor: pointer;
		font-size: 1rem;
		transition:
			opacity $theme-transition-speed ease
		;

		&.material-symbols-rounded {
			color: #FFFFFF;
		}

		&--example {
			height: 100%;
			width: 2.5rem;
			border-radius: 2rem;

			@include media-breakpoint-down(lg) {
				width: 2.5rem;
			}
		}
		&--null,
		&--inactive {
			cursor: default;
			user-select: none;
		}

		&--invalid {
			opacity: 0.5;
			cursor: not-allowed;
		}

		&--inactive {
			opacity: 0.25;
		}
	}

	&__icon-container,
	&__modal-header-container,
	&__day {
		&--special {
			background-color: #{var(--calendar-special-color)};
		}
		&--excellent {
			background-color: #{var(--calendar-excellent-color)};
		}
		&--good {
			background-color: #{var(--calendar-good-color)};
		}
		&--above-average {
			background-color: #{var(--calendar-above-average-color)};
		}
		&--average {
			background-color: #{var(--calendar-average-color)};
		}
		&--below-average {
			background-color: #{var(--calendar-below-average-color)};
		}
		&--bad {
			background-color: #{var(--calendar-bad-color)};
		}
		&--awful {
			background-color: #{var(--calendar-awful-color)};
		}
	}
}
