@import "material-you";

.profile-intro {
	display: flex;
	padding: 0rem 2rem;

	@include media-breakpoint-down(md) {
		flex-direction: column-reverse;
	}

	&--shrinked {
		// width: 60%;
		margin: 0 auto;
	}
}

.profile-body {
	margin: 2rem;

	&--side-spaced {
		margin: 0rem 2rem;
	}

	&--unspaced {
		margin: 0rem;
	}

	&--themed {
		margin: 2rem 0rem;
		@include material-container--primary;
		padding: 0rem;
		border-radius: $container-border-radius;
	}
	
	&--themed-secondary {
		@include material-container--secondary;
	}
}

.site-intro {
	&:before {
		@include theme-transition();
		@include material-container--primary;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		-webkit-mask: linear-gradient(to top, transparent 1%, #000);
		mask: linear-gradient(to top, transparent 1%,#000);
		user-select: none;
	}
	@include material-container--primary;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}

.profile-intro {
	@include theme-transition();
	background-color: #{var(--md-sys-color-background)};
	border-radius: $container-border-radius $container-border-radius 0 0;
	margin: 0rem 2rem;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;

	&__details {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-auto-flow: row;
		gap: 2rem;
		margin: 0 auto;

		@include media-breakpoint-down(lg) {
			grid-template-columns: minmax(0, 1fr);
			grid-auto-columns: auto;
			grid-auto-rows: auto;
		}
	}

	&__info-container {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		@include media-breakpoint-down(lg) {
			order: 1;
		}
	}
}

.at-a-glance {
	margin: 2rem;
}

.mood-calendar,
.mbti-section {
	display: flex;
	flex-direction: column;
	padding: $full-container-padding;

	&__container {
		display: flex;
		overflow: hidden;
		padding: $full-container-padding;
		overflow: visible;
		gap: 2rem;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}

		@include media-breakpoint-down(md) {
			padding: 0rem;
		}

		& > * {
			flex: 1;
		}
	}
}

.mood-calendar {
	overflow: visible;
}
