<main class="site-body">
	<theme-switcher *ngIf="isBrowser"></theme-switcher>
	<section class="site-intro">
		<hero-banner></hero-banner>
		<section class="profile-intro profile-intro--shrinked">
			<div class="profile-intro__details">
				<div class="profile-intro__info-container">
					<profile-info></profile-info>
					<personal-stats></personal-stats>
				</div>
				<profile-card></profile-card>
			</div>
		</section>
	</section>
	<section class="profile-body profile-body--unspaced">
		<app-amp-story-viewer></app-amp-story-viewer>
	</section>
	<section class="mood-calendar profile-body profile-body--themed profile-body--themed-tertiary" (click)="setIsModalOpen(false)">
		<pixel-map
			[setModalCloseEvent]="isCalendarModalClosed"
			(setModalEvent)="setIsModalOpen($event)"
			(click)="$event.stopPropagation()"
		></pixel-map>
	</section>
	<section class="profile-body profile-body--unspaced">
		<blog-feed></blog-feed>
	</section>
	<!-- <section class="at-a-glance">
		<life-at-a-glance></life-at-a-glance>
	</section> -->
	<section class="profile-body">
		<music-likes-info></music-likes-info>
	</section>
	<section class="mbti-section profile-body profile-body--themed profile-body--themed-secondary">
		<article class="mbti-section__container">
			<mbti-characteristics></mbti-characteristics>
			<mbti-info></mbti-info>
		</article>
	</section>
	<section class="profile-body profile-body--standalone">
		<other-sites></other-sites>
	</section>
</main>
<app-footer></app-footer>