@import "material-you";

$image-size: 27rem;
$since-position: -15%;
$title-position: -5%;

:host {
	display: flex;
	align-items: center;
    justify-content: center;
	flex-grow: 1;

	@include media-breakpoint-down(lg) {
		margin-bottom: 7.5rem;
	}
}

.mbti-characteristic {
	position: relative;
	display: flex;
	flex-grow: 1;

	&__title {
		@include material-button;
		@include material-container--tertiary;
		position: absolute;
		display: flex;
		top: $title-position;
		right: $since-position;
		align-items: center;
	}

	&__title-span {
		display: flex;
		align-items: center;
	}

	&__title-icon {
		margin-right: $icon-margin-right;
	}

	&__photo {
		display: flex;
		width: $image-size;
		height: $image-size;
		overflow: hidden;
		border-radius: $container-border-radius;
		justify-content: center;

		@include media-breakpoint-down(lg) {
			width: $image-size - 8;
			height: $image-size - 8;
		}
	}

	&__img {
		user-select: none;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__since {
		@include material-mask--octagonal-circle;
		@include material-basic--primary;

		position: absolute;
		display: flex;
		flex-direction: column;
		text-align: center;
		bottom: $since-position;
		left: $since-position;
		padding: 3rem;
		font-weight: 500;
	}

	&__since-date {
		font-weight: bold;
	}

	&__characteristic {
		display: grid;
		grid-template-columns: 20% auto 20%;
		grid-auto-flow: row;
		gap: 2rem;
		flex-grow: 1;

		@include media-breakpoint-down(lg) {
			grid-template-columns: auto;
		}
	}

	&__characteristics {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 2rem;
	}

	&__detail {
		display: flex;
		flex-direction: column;

		&--desktop {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}

		&--mobile {
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}

		&--right {
			align-items: end;
		}

		&--active {
			font-weight: bold;
		}
	}

	&__detail-mobile {
		display: flex;
		justify-content: space-between;
	}

	&__bar {
		@include material-basic--tertiary;
		display: flex;
		width: 100%;
		// padding: 0.5rem;
		border-radius: $container-border-radius;
		overflow: hidden;
		flex: 1 0 100%;
		align-items: center;
		// border-radius: $container-border-radius;

		&--right {
			justify-content: right;
			flex-direction: row-reverse;
		}
	}

	&__bar-filler {
		@include material-colored--tertiary;
		height: 100%;
	}

	&__icon {
		@include material-inverted--tertiary;
		padding: 1rem;
		margin: 0 -2rem;
		z-index: 1;
		border-radius: $container-border-radius;
	}
}
