<div class="blog-feed" *ngIf="feedItems.length > 0">
	<header class="blog-feed__section-header">
		<h1 class="blog-feed__section-heading"><span class="blog-feed__header-icon material-symbols-rounded">edit</span> Blog Posts</h1>

		<p class="blog-feed__tagline">The latest entries from my blog—A Meaningful Struggle.</p>
	</header>
	<section>
		<article class="post post--featured">
			<picture class="post__picture post__picture--featured">
				<img [src]="latestPost.imageUrl" class="post__image post__image--featured" [alt]="latestPost.title + ' blog image'" loading="lazy" decoding="async"/>
			</picture>
			<div class="post__featured-content">
				<header class="post__header post__header--featured">
					<div class="post__featured-info">
						<div class="post__date">
							<span class="post__date-icon material-symbols-rounded">verified</span>
							<span>Latest Post</span>
						</div>
						<div class="post__date">
							<span class="post__date-icon material-symbols-rounded">calendar_today</span>
							<span>{{ latestPost.date }}</span>
						</div>
					</div>
					<h1 class="post__heading post__heading--featured">{{ latestPost.title }}</h1>
				</header>
				<section class="post__content">
					<p>{{ latestPost.contentSnippet }}<span>…</span></p>
					<a href="{{ latestPost.link }}" class="post__link post__link--featured" target="_blank">
						<span class="material-symbols-rounded skill-info__button-icon">
							library_books
						</span>
						Read More
					</a>
				</section>
			</div>
		</article>
	</section>
	<section class="blog-feed__articles">
		<article class="post" *ngFor="let item of feedItems">
			<picture class="post__picture">
				<img [src]="item.imageUrl" class="post__image" [alt]="'Featured photo for blog post ' + item.title" width="448" height="252" loading="lazy" decoding="async"/>
			</picture>
			<header class="post__header">
				<div class="post__date">
					<span class="post__date-icon material-symbols-rounded">calendar_today</span>
					<span>{{ item.date }}</span>
				</div>
				<h1 class="post__heading">{{ item.title }}</h1>
			</header>
			<section class="post__content">
				<p>{{ item.contentSnippet }}<span>…</span></p>
				<a href="{{ item.link }}" class="post__link" target="_blank">
					<span class="material-symbols-rounded skill-info__button-icon">
						library_books
					</span>
					Read More
				</a>
			</section>
		</article>
	</section>
	<a href="https://blog.dartegnian.com" class="blog-feed__site-link" target="_blank">
		<span class="material-symbols-rounded skill-info__button-icon">
			open_in_new
		</span>
		View More Posts
	</a>
</div>