@import "material-you";

:host {
    grid-column: span 2;
}

.blog-feed {
	display: flex;
	flex-direction: column;

	&__section-header {
		@include material-container--primary;
		border-radius: $container-border-radius;
		padding: 4rem 2rem;
		margin: 2rem;
		margin-top: 0rem;
	}

	&__section-heading {
		margin: 0;
		margin-right: 1rem;
		font-weight: bold;
	}

	&__header-icon {
		font-size: 2rem;
	}

	&__tagline {
		margin-bottom: 0rem;
	}

	&__articles {
		padding: 2rem;
		padding-bottom: 0rem;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-auto-flow: row;
		gap: 2rem;

		@include media-breakpoint-down(lg) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include media-breakpoint-down(md) {
			grid-template-columns: minmax(0, 1fr);
			grid-auto-columns: auto;
			grid-auto-rows: auto;
		}
	}

	&__site-link {
		@include material-button--filled-primary;
		margin: 0 auto;
		margin-top: 2rem;
		max-width: max-content;
	}
}

.post {
	@include material-container--tertiary;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
	border-radius: $container-border-radius;

	&--featured {
		@include material-container--secondary;
		flex-direction: row;
		min-width: auto;
		display: flex;
		margin: 0rem 2rem;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}
	}

	&__header {
		padding: 1.5rem 1.3rem;
		padding-bottom: 0rem;

		&--featured {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}

	&__heading {
		font-weight: bold;
		margin-bottom: 0rem;
		color: inherit;
		text-decoration: none;
		font-size: 2rem;

		&--featured {
			font-size: 3rem;
			font-weight: bold;

			@include media-breakpoint-down(md) {
				font-size: 2.5rem;
			}
		}
	}

	&__date {
		@include material-basic--secondary;
		max-width: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: 0.5rem 1.25rem;
		border-radius: 100px;
		font-size: 0.9rem;
		gap: 6px;
		margin-bottom: 1rem;
	}

	&__date-icon {
		font-size: 0.9rem;
	}

	&__image {
		display: flex;
		object-fit: cover;
		overflow: hidden;
		border-radius: $container-border-radius;
		width: 100%;

		&--featured {
			height: 100%;
			width: 100%;
		}
	}

	&__content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		padding: 1.5rem 1.3rem;
	}

	&__link {
		@include material-button--filled-tertiary;
		margin-top: auto;
		max-width: max-content;

		&--featured {
			@include material-button--filled-secondary;
		}
	}

	&__picture {
		&--featured {
			display: flex;
			min-width: 50%;
		}
	}

	&__featured-content {
		display: flex;
		flex-direction: column;
		min-width: 50%;
		padding: 0.5rem;
	}

	&__featured-info {
		display: flex;
		gap: 0.5rem;
	}
}