@import "material-you";

:host {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}

.hero-banner {
	display: flex;
	padding: $full-container-padding;
	border-radius: 0rem;
	overflow: hidden;
	flex-grow: 1;
	clip-path: inset(0 round 0rem 0rem  $container-border-radius $container-border-radius);
	justify-content: space-between;
	flex-direction: column;

	@include media-breakpoint-down(lg) {
		flex-direction: column;
		padding-bottom: 2.25rem;
	}

	&__text-container {
		display: flex;
		flex-direction: column;
		margin-right: 1rem;

		@include media-breakpoint-down(lg) {
			width: 75%;
			margin-right: 0rem;
		}

		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}

	&__header {
		font-weight: 600;
		font-size: 4rem;
		margin: 1rem 0rem;
		margin-bottom: 1.5rem;
		word-break: break-all;

		@include media-breakpoint-down(lg) {
			font-size: 3rem;
			margin-bottom: 2rem;
		}
	}

	&__subheader {
		font-weight: normal;
		font-size: 1.1rem;
		margin-bottom: auto;
	}

	&__img {
		top: 0;
		right: 0;
		position: fixed;
		width: auto;
		height: 39rem;
		aspect-ratio: 16/9;
		z-index: -1;
		-webkit-mask: linear-gradient(to right, transparent 45%, #000);
		mask: linear-gradient(to right, transparent 45%,#000);
		transition: opacity $theme-transition-speed ease;
		user-select: none;
		object-position: top;
		object-fit: cover;
		opacity: 40%;

		&--first-image-disabled {
			opacity: 0;
		}

		&--second-image-disabled {
			opacity: 0;
		}
	}
}
