<article class="hero-banner" id="hero-banner">
	<section class="hero-banner__text-container">
		<h1 class="hero-banner__header">Dartegnian.com</h1>
		<h2 class="hero-banner__subheader">My landing page with Material You implementation. Colors dynamically adjust to a selected theme. Choose one to get started.</h2>
	</section>
	<accent-switcher></accent-switcher>
</article>
