@import "material-you";

:host {
	flex-grow: 1;
}

.personal-stats {
	display: flex;
	flex-grow: 1;
	gap: 2rem;
	height: 100%;
	flex-wrap: wrap;

	& > * {
		flex-basis: 100%;
		flex: 1;
	}

	&__stat {
		@include material-inverted--tertiary;

		display: flex;
		flex-grow: 1;
		border-radius: $container-border-radius;
		padding: 1.5rem 1.3rem;
		align-items: center;
		justify-content: center;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		text-align: center;
	}

	&__icon {
		font-size: 2.5rem;
		margin-bottom: 1rem;
		max-width: 2.5rem;
		overflow: hidden;
		max-height: 2.5rem;
	}

	&__heading {
		@include material-basic--tertiary;
		border-radius: $container-border-radius;
		padding: 0.5rem 1.25rem;
		font-weight: bold;
		text-decoration: none;
	}
}
