@import "material-you";

.life-at-a-glance {
	@include theme-transition;
	@include material-container--primary;
	border-radius: $container-border-radius;
	padding: $container-padding;

	&__header {
		display: flex;
		padding: 2rem 0rem;

		@include media-breakpoint-down(lg) {
			flex-direction: column-reverse;
		}

		& > * {
			flex: 1;
		}
	}

	&__header-info {
		display: flex;
		flex-direction: column;
		max-width: 50%;
		align-self: end;

		@include media-breakpoint-down(lg) {
			max-width: 100%;
			align-self: baseline;
		}
	}

	&__header-text {
		display: flex;
		margin-bottom: 0.5rem;

		& > :first-child {
			margin-right: 0.5rem;
		}
	}

	&__heading {
		font-weight: bold;
	}

	&__header-description {
		&:last-of-type {
			margin-bottom: 0rem;
		}
	}

	&__feature {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		min-height: 20vh;
		align-items: center;

		@include media-breakpoint-down(lg) {
			margin-bottom: 4rem;
		}
	}

	&__feature-actions {
		@include theme-transition;
		@include material-basic--tertiary;
		@include material-mask--zany-square;

		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-template-rows: repeat(3, minmax(0, 1fr));
		width: 25vw;
		height: 25vw;
		padding: 2%;

		@include media-breakpoint-only(md) {
			width: 44vw;
			height: 44vw;
			padding: 3%;
		}

		@include media-breakpoint-down(md) {
			width: 55vw;
			height: 55vw;
			padding: 4%;
		}
	}

	&__action {
		@include material-basic--tertiary;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		transition: opacity $theme-transition-speed ease, color $theme-transition-speed ease, background-color $theme-transition-speed ease, filter $theme-transition-speed ease;
		cursor: pointer;

		&--empty {
			cursor :default;
		}

		&--disabled > .material-symbols-rounded {
			cursor: not-allowed;
			opacity: 0.8;
			filter: grayscale(1);
		}

		&--center {
			@include material-inverted--tertiary;
			cursor :default;
			border-radius: $container-border-radius;
			box-shadow: $elevated-shadow;
		}
	}

	&__action-icon {
		font-size: 3rem;

		@include media-breakpoint-down(lg) {
			font-size: 2.5rem;
		}
	}

	&__cards {
		display: flex;
	}

	&__cards-wrapper {
		display: grid;
		gap: 2rem;
		padding: 2rem 0.5rem;
		overflow-x: scroll;
		grid-auto-columns: minmax(19rem, 1fr);
		grid-auto-flow: column;
		word-wrap: break-word;
	}

	&__card {
		@include material-basic--primary;
		border-radius: $container-border-radius;
		padding: $container-padding;
		transition: box-shadow $theme-transition-speed ease;

		&--selected {
			box-shadow: $elevated-shadow;
		}
	}

	&__card-header {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-bottom: 0.5rem;
	}

	&__card-title-new {
		@include material-colored--primary;
		border-radius: $container-border-radius;
		padding: 0.25rem 1.5rem;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0.8rem;
	}

	&__card-title-thumb {
		@include theme-transition;
		@include material-container--primary;
		padding: 10px;
		width: 48px;
		height: 48px;
		border-radius: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;
	}
}
