@import "material-you";

.i-amphtml-story-player-shadow-root-intermediary {
	width: 100%;
	height: 100%;
}

@keyframes i-amphtml-story-player-spinner {
	12.5% {
		transform: rotate(135deg)
	}

	25% {
		transform: rotate(270deg)
	}

	37.5% {
		transform: rotate(405deg)
	}

	50% {
		transform: rotate(540deg)
	}

	62.5% {
		transform: rotate(675deg)
	}

	75% {
		transform: rotate(810deg)
	}

	87.5% {
		transform: rotate(945deg)
	}

	to {
		transform: rotate(1080deg)
	}
}

.i-amphtml-story-player-loaded:after {
	visibility: hidden
}

.amp-story-viewer {
	display: flex;
	flex-direction: row;
	padding: 2rem 0rem;
	padding-bottom: 0rem;
	margin-left: 2rem;

	@include media-breakpoint-down(lg) {
		flex-direction: column;
		margin-left: 0rem;
	}

	&__carousel-wrapper {
		display: flex;
		position: relative;
		align-items: center;
		overflow-x: scroll;
		padding-bottom: 2rem;
		scrollbar-width: none;
		
		@media only screen and (pointer: coarse) {
			padding-bottom: 0rem;
		}
	}

	&__section-header {
		@include material-colored--secondary;
		border-radius: $container-border-radius;
		padding: 4rem 2rem;
		margin: 0rem 2rem;
		margin-left: 0rem;
		min-width: max-content;

		@include media-breakpoint-down(lg) {
			margin-left: 2rem;
			margin-bottom: 2rem;
		}
	}

	&__section-heading {
		margin: 0;
		margin-right: 1rem;
		font-weight: bold;
	}

	&__header-icon {
		font-size: 2rem;
	}
}

.story-carousel {
	display: flex;
	overflow-y: visible;
	padding: 0rem;

	@include media-breakpoint-down(lg) {
		padding: 0rem 2rem;
	}

	&__cover {
		object-fit: cover;
		width: 100%;
		height: 100%;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
		border-radius: 16px;
		overflow: hidden;
	}
	
	&__card:after {
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: linear-gradient(180deg,
				rgba(0, 0, 0, 0.0001) 49.88%,
				#{var(--md-sys-color-on-secondary-container)} 90%);
		height: 100%;
		width: 100%;
		position: absolute;
		border-radius: 16px;
		content: "";
	}

	&__card {
		flex-shrink: 0;
		cursor: pointer;
		position: relative;
		margin-right: 2rem;
		width: 240px;
		height: 400px;
		opacity: 1;
		transform: scale(1);
		visibility: visible;
		transition: opacity 0.33s, transform 0.33s, visibility 0.33s;

		&--touching {
			.story-carousel__bg-cards {
				transform: translate3d(24px, 0px, 0px);
			}
		}

		@include media-breakpoint-down(lg) {
			&:last-of-type {
				margin-right: 0rem;
			}
		}

		@media(hover: hover) and (pointer: fine) {
			&:hover {
				.story-carousel__bg-cards {
					transform: translate3d(24px, 0px, 0px);
				}
			}
		}
	}

	&__card.hidden {
		opacity: 0;
		visibility: hidden;
	}
	
	&__bg-cards {
		display: flex;
		align-items: center;
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		transition: transform 0.2s;
		transform: translate3d(0px, 0px, 0px);

		&:before {
			content: "";
			@include material-colored--secondary;
			margin: 0px 2px;
			width: 10px;
			height: 90%;
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
		}

		&:after {
			content: "";
			@include material-container--secondary;
			width: 10px;
			height: 85%;
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
		}
	}
	
	&__author-container {
		position: absolute;
		display: flex;
		align-items: center;
		top: 24px;
		left: 24px;
	}

	&__headline-container {
		position: absolute;
		bottom: 2px;
		text-align: left;
		padding: 24px;
		z-index: 1;
	}

	&__headline {
		color: #{var(--md-sys-color-secondary-container)};
		font-weight: 700;
		text-transform: uppercase;
		font-size: 26px;
		line-height: 26px;
	}
	
	&__subtitle {
		// color: #{var(--md-sys-color-secondary-container)};
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 15px;
	}
	
	&__logo-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 38px;
		height: 38px;
		position: relative;
		margin-right: 10px;
	}
	
	&__logo-ring {
		@include material-container--secondary;
		width: 46px;
		height: 46px;
		border-radius: 100%;
		position: absolute;

		@include media-breakpoint-down(md) {
			width: 36px;
			height: 36px;
		}
	}
	
	&__logo-img {
		border-radius: 100%;
		width: 38px;
		height: 38px;
		filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.25));
	}

	&__icon {
		@include material-colored--primary;
		z-index: 1;
		border-radius: 50%;
		padding: 9px;
    	font-size: 1.25rem;
		max-width: 45px;
		border: 4px solid #{var(--md-sys-color-primary-container)};
		margin-right: 0.75rem;

		@include media-breakpoint-down(md) {
			padding: 8px;
			font-size: 1rem;
		}
	}

	&__arrow {
		z-index: 1;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 14px 24px;
		border: 0px;
		background-color: #000000;
		outline: transparent;
		height: 48px;
		width: 48px;
		min-width: 48px;
		position: absolute;
		border-radius: 50%;
		padding: 0px;
		box-shadow: 0px 0px 10px rgba(60, 64, 67, 0.3);
		visibility: hidden;
		background-image: url('data:image/svg+xml;charset=utf-8,<svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 2.82L8.65317 12L0 21.18L2.66397 24L14 12L2.66397 0L0 2.82Z" fill="white"/></svg>');
		
		&--left {
			left: 68px;
			transform: rotate(-180deg);
		}

		&--right {
			right: 68px;
		}
	}
}

/* Mobile CSS rules here*/
@media only screen and (pointer: coarse) {
	::-webkit-scrollbar {
		display: none;
	}
}

.lightbox {
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	overflow: hidden;
	visibility: visible;
	opacity: 1;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	transition: transform 0.33s, opacity 0.33s, visibility 0.33s;

	&--closed {
		transform: scale3d(0.5, 0.5, 1) !important;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		/* Dismissal has faster duration. */
		transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
		pointer-events: none;
	}
}

/* No transitions when dragging, it creates a laggy effect. */
.dragging {
	transition: none;
}

.site-player {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;

	:after {
		content: " ";
		position: absolute;
		box-sizing: border-box;
		top: calc(50% - 32px);
		left: calc(50% - 32px);
		width: 64px;
		height: 64px;
		border-radius: 50%;
		border-color: #fff transparent;
		border-style: solid;
		border-width: 6px;
		filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
		animation-name: i-amphtml-story-player-spinner;
		animation-duration: 4400ms;
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		animation-iteration-count: infinite
	}

	a:first-of-type {
		width: 100%;
		height: 100%;
		// background: var(--story-player-poster, #d3d3d3);
		background-size: 100% 100%;
		display: block
	}

	&.i-amphtml-story-player-loaded a {
		display: none;
	}
}
