<article #ampStoryPlayer class="amp-story-viewer">
	<header class="amp-story-viewer__section-header">
		<h1 class="amp-story-viewer__section-heading"><span class="amp-story-viewer__header-icon material-symbols-rounded">web_stories</span> Web Stories</h1>

		<p class="amp-story-viewer__tagline">Stories from my life, now on the web.</p>
	</header>
	<section class="amp-story-viewer__carousel-wrapper">
		<div class="story-carousel">

			<article class="story-carousel__card" *ngFor="let card of storyCards">
				<header class="story-carousel__author-container">
					<span class="story-carousel__icon material-symbols-rounded">{{ card.icon }}</span>
					<span class="story-carousel__subtitle">{{ card.topic }}</span>
				</header>
				<responsive-image
					class="story-carousel__cover"
					[imageName]="card.coverImg"
					[imageAlt]="card.coverImgAlt"
					[imageHeight]="400" [imageWidth]="240"
					[imageBoundary]="256"
				></responsive-image>

				<div class="story-carousel__headline-container">
					<span class="story-carousel__headline">{{ card.headline }}</span>
				</div>
				<div class="story-carousel__bg-cards"></div>
			</article>

			<button class="story-carousel__arrow story-carousel__arrow--left"></button>
			<button class="story-carousel__arrow story-carousel__arrow--right"></button>
		</div>
	</section>

	<article class="lightbox lightbox--closed">
		<amp-story-player class="site-player" #storyPlayer>
			<a *ngFor="let card of storyCards" [routerLink]="card.link"></a>
		</amp-story-player>
	</article>
</article>
