@import "material-you";

@keyframes cursor-blink {
	from, to { 
		opacity: 0;
	}
	50% { 
		opacity: 1;
	}
}

:host {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
    justify-content: left;
}

.mbti-info {
    display: flex;
    flex-grow: 1;
    justify-content: center;
	flex-direction: column;
	max-width: 90%;

	& > * {
		margin-bottom: 2rem;

		&:last-child {
			margin-bottom: 0rem;
		}
	}

	@include media-breakpoint-down(md) {
		max-width: 100%;
	}

	&__header-block {
		display: inline-flex;
		align-items: center;

		@include media-breakpoint-down(md) {
			flex-direction: column;
			gap: 1rem;
			width: 100%;
		}
	}

	&__header-text {
		margin: 0;
		margin-right: 1rem;
		font-weight: bold;

		&:first-of-type {
			display: flex;
		}

		&--highlighted {
			@include material-inverted--secondary;
			border-radius: $container-border-radius;
			padding: 1rem;
			display: flex;
			align-items: center;
			width: max-content;
		}

		@include media-breakpoint-down(md) {
			font-size: 1.3rem;
		}
	}

	&__header-text-container {
		display: flex;
		align-items: center;
	}

	&__header-text-icon {
		margin: 0;
		font-size: 3rem;
	}

	&__text {
		& > :last-child {
			margin-bottom: 0rem;
		}
	}

	&__cursor {
		margin-left: 0.5rem;
		animation: cursor-blink .75s step-end infinite;

		@include media-breakpoint-down(md) {
			margin-left: 0.25rem;
		}
	}

	&__buttons {
		display: flex;

		& > :first-child {
			margin-right: 1rem;

			@include media-breakpoint-down(md) {
				margin-right: 0rem;
				margin-bottom: 1rem;
			}
		}

		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}

	&__button {
		@include material-button--basic-secondary;
	}
}
