<article class="mbti-info">
	<header class="mbti-info__header">
		<span class="mbti-info__header-block">
			<h1 class="mbti-info__header-text">
				<span class="material-symbols-rounded mbti-info__header-text-icon">
					self_improvement
				</span>
			</h1>
			<div class="mbti-info__header-text-container">
				<h1 class="mbti-info__header-text">ENFP-T: </h1>
				<h1 class="mbti-info__header-text mbti-info__header-text--highlighted">{{ mbtiAttribute }}<div class="mbti-info__cursor">|</div></h1>
			</div>
		</span>
	</header>
	<section class="mbti-info__text">
		<p>ENFPs are often known as campaigners, people who are into big ideas and actions that reflect their hope and goodwill. In the past, I've developed a lot of projects that involve a lot of concepts that I consider as innovative.</p>
		<p>Out of all the traits I have, my predominant one is extraversion. I'm pretty much an extrovert who's into many friend groups, from old friends since grade school until now with my present coworkers.</p>
	</section>
	<section class="mbti-info__buttons">
		<a href="https://www.16personalities.com/enfp-strengths-and-weaknesses" class="mbti-info__button" target="_blank">
			<span class="material-symbols-rounded mbti-info__button-icon">
				weight
			</span>
			Strengths and weaknesses
		</a>
		<a href="https://www.16personalities.com/enfp-friends" class="mbti-info__button" target="_blank">
			<span class="material-symbols-rounded mbti-info__button-icon">
				diversity_1
			</span>
			Friends
		</a>
	</section>
</article>
