<div class="whats-playing">
	<header class="whats-playing__section-header">
		<h1 class="whats-playing__section-heading"><span class="whats-playing__header-icon material-symbols-rounded">music_note</span> What's playing</h1>

		<p class="whats-playing__tagline">These are my current faves when it comes to the music I'm listening to.</p>
	</header>
	<!-- <button (click)="shuffleArray(surfaceContent)" class="whats-playing__shuffle">
		<div class="material-symbols-rounded">
			shuffle
		</div>
		Shuffle content
	</button> -->
	<article class="whats-playing__featured-artist">
		<picture class="whats-playing__image-container">
			<img [src]="artistSpotlight.image" class="whats-playing__artist-image" [alt]="'A photo of my featured artist, ' + artistSpotlight.artist" loading="lazy" decoding="async"/>
		</picture>

		<section class="whats-playing__artist-info">
			<header class="whats-playing__artist-header">
				<div class="whats-playing__artist-details">
					<div class="whats-playing__info">
						<span class="whats-playing__info-icon material-symbols-rounded">record_voice_over</span>
						<span>Artist Spotlight</span>
					</div>
					<a class="whats-playing__artist-link" [href]="artistSpotlight.spotify" target="_blank">
						<span class="whats-playing__info-icon material-symbols-rounded">
							open_in_new
						</span>
						Play on Spotify
					</a>
				</div>
				<h1 class="whats-playing__artist-name">{{ artistSpotlight.artist }}</h1>
				<p class="whats-playing__artist-description">{{ artistSpotlight.description }}</p>
				<em class="whats-playing__description-tag">from Wikipedia, the free encyclopedia</em>
			</header>
			<!-- <h4 class="whats-playing__album-header">My Favorite Albums</h4> -->
			<hr />
			<div class="whats-playing__artist-albums">
				<article class="whats-playing__artist-album" *ngFor="let album of artistSpotlight.albums">
					<img [src]="album.image" class="whats-playing__artist-album-image" [alt]="'Album cover of ' + album.title" loading="lazy" decoding="async"/>
					<div class="whats-playing__artist-album-info">
						<h1 class="whats-playing__album-title">{{ album.title }}</h1>
						<a class="whats-playing__album-details" [href]="album.link" target="_blank">
							<div class="material-symbols-rounded">
								open_in_new
							</div>
							Play
						</a>
					</div>
				</article>
			</div>
		</section>
	</article>
	<section class="whats-playing__surface-list">
		<article
			*ngFor="let surface of surfaces; index as i"
			[ngClass]="'whats-playing__surface whats-playing__surface--' + surface"
			[class.whats-playing__surface--normal]="!wideSurfaces.includes(surface) && !largeSurfaces.includes(surface)"
			[class.whats-playing__surface--large]="largeSurfaces.includes(surface)"
			[class.whats-playing__surface--wide]="wideSurfaces.includes(surface)"
		>
			<header class="whats-playing__header">
				<div class="whats-playing__title-thumb material-symbols-rounded">
					{{ shuffledArray[i].icon }}
				</div>
				<h2 class="whats-playing__heading">{{ shuffledArray[i].heading }}</h2>
				<p>{{ shuffledArray[i].subHeading }}</p>
				<a [href]="shuffledArray[i].link" target="_blank" class="whats-playing__link">
					<div class="material-symbols-rounded">
						open_in_new
					</div>
					{{ shuffledArray[i].linkText }}
				</a>
			</header>
			<div
				class="whats-playing__image-container"
				[class.whats-playing__image-container--full]="wideSurfaces.includes(surface) || largeSurfaces.includes(surface)"
				[class.whats-playing__image-container--normal]="!wideSurfaces.includes(surface) && !largeSurfaces.includes(surface)"
			>
				<responsive-image
					[imageName]="shuffledArray[i].image"
					class="surface__image"
					[imageAlt]="shuffledArray[i].image + ' image'"
					[class.whats-playing__image--wide]="wideSurfaces.includes(surface)"
					[class.whats-playing__image--normal]="!wideSurfaces.includes(surface) && !largeSurfaces.includes(surface)"
					[imageBoundary]="512"
				></responsive-image>
			</div>
		</article>
	</section>
</div>