@import "material-you";

@keyframes fadeIn { 
	from {
		opacity: 0;
	} 
}

.whats-playing {
	display: flex;
	flex-direction: column;

	&__section-header {
		@include material-colored--tertiary;
		width: 100%;
		border-radius: $container-border-radius;
		padding: 4rem 2rem;
	}

	&__section-heading {
		margin: 0;
		margin-right: 1rem;
		font-weight: bold;
	}

	&__header-icon {
		font-size: 2rem;
	}

	&__tagline {
		margin-bottom: 0rem;
	}

	&__shuffle {
		margin: 2rem 0;
		@include material-button--tonal-tertiary;
		width: max-content;
	}

	&__surface-list {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-auto-flow: row;
		grid-gap: 2rem;

		@include media-breakpoint-down(lg) {
			grid-auto-flow: row;
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include media-breakpoint-down(md) {
			grid-auto-flow: row;
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}

		&:last-child {
			margin-bottom: 0rem;
		}
	}

	@for $i from 1 through 11 {
		&__surface:nth-of-type(#{$i})
		&__image-container--full {
			animation: fadeIn 3s infinite alternate;
			transition-delay: random(5) + s;
			animation-delay: random(5) + s;
		}
	}

	&__surface {
		@include material-container;
		display: flex;
		align-items: flex-end;
		min-height: 12rem;
		position: relative;
		overflow: hidden;

		&--normal {
			flex-direction: column-reverse;
			align-items: baseline;
		}

		&--material-colored-primary {
			@include material-colored--primary;
		}

		&--material-basic-primary {
			@include material-basic--primary;
			@include material-outline;
		}

		&--material-container-primary {
			@include material-container--primary;
		}

		&--material-inverted-primary {
			@include material-inverted--primary;
			grid-column: span 2;

			@include media-breakpoint-down(lg) {
				grid-column: span 1;
				grid-row: span 2;
			}
		}

		&--material-colored-secondary {
			@include material-colored--secondary;
			grid-column: span 2;
			grid-row: span 2;

			@include media-breakpoint-down(md) {
				grid-column: span 1;
				grid-row: span 2;
			}
		}

		&--material-basic-secondary {
			@include material-basic--secondary;
			@include material-outline;
		}

		&--material-container-secondary {
			@include material-container--secondary;
		}

		&--material-inverted-secondary {
			@include material-inverted--secondary;
			grid-column: span 2;

			@include media-breakpoint-down(md) {
				grid-column: span 1;
				grid-row: span 2;
			}
		}

		&--material-colored-tertiary {
			@include material-colored--tertiary;
			grid-column: span 4;

			@include media-breakpoint-down(lg) {
				grid-column: span 2;
			}

			@include media-breakpoint-down(md) {
				grid-column: span 1;
				grid-row: 1 / span 2;
			}
		}

		&--material-basic-tertiary {
			@include material-basic--tertiary;
			@include material-outline;
		}

		&--material-container-tertiary {
			@include material-container--tertiary;
			grid-row: span 2;
		}

		&--material-inverted-tertiary {
			@include material-inverted--tertiary;
		}
	}

	&__header {
		z-index: 1;
	}

	&__heading {
		font-weight: bold;
	}

	&__image-container {
		display: flex;
		width: 100%;
		flex-grow: 1;
		justify-content: flex-end;

		&--full {
			width: 100%;
			height: 100%;
			-webkit-mask: linear-gradient(to top, transparent 20%, #000);
			mask: linear-gradient(to top, transparent 20%, #000);position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			opacity: 75%;
		}
	}

	&__image {
		display: flex;

		&--normal {
			aspect-ratio: 1/1;
			overflow: hidden;
			max-height: 8rem;
			max-width: 8rem;
			border-radius: $container-border-radius;

			@include media-breakpoint-down(lg) {
				max-height: 12rem;
				max-width: 12rem;
			}

			@include media-breakpoint-down(md) {
				max-height: 100%;
				max-width: 100%;
			}
		}

		&--large,
		&--wide {
			width: 100%;
			height: 100%;
			position: absolute;
			transition: opacity 0.25s ease;
			overflow: hidden;
			border-radius: 2rem;
		}

		&--wide {
			// filter: blur(3px);
			opacity: 50%;
		}
	}

	&__title-thumb {
		@include theme-transition;
		@include material-container--tertiary;
		padding: 10px;
		width: 48px;
		height: 48px;
		border-radius: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;
		margin-top: 1.5rem;

		@include media-breakpoint-down(md) {
			margin-top: 2.5rem;
		}
	}

	&__link {
		@include material-button--basic-tertiary;
		width: max-content;
		margin-top: 2.5rem;
	}

	&__featured-artist {
		@include material-inverted--tertiary;
		border-radius: $container-border-radius;
		display: flex;
		overflow: hidden;
		margin: 2rem 0rem;
		flex-direction: row;
		min-width: auto;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}
	}

	&__image-container {
		min-width: 50%;
	}

	&__artist-image {
		width: 100%;
		object-fit: cover;
		height: 100%;
		border-radius: $container-border-radius;
	}

	&__artist-info {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding: 1.5rem 2.3rem;

		@include media-breakpoint-down(lg) {
			padding: 2.5rem 2.3rem;
			max-width: 100%;
		}
	}

	&__artist-header {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 2rem;
	}

	&__artist-name {
		font-weight: bold;
		margin-bottom: 0rem;
		color: inherit;
		text-decoration: none;
		font-size: 3.25rem;
	}

	&__artist-description {
		margin-bottom: 0.25rem;
	}

	&__description-tag {
		font-size: 0.75rem;
	}

	&__album-header {
		font-size: 1.5rem;
		margin-bottom: 0rem;
	}

	&__info,
	&__artist-link {
		@include material-basic--secondary;
		max-width: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: 0.5rem 1.25rem;
		border-radius: 100px;
		font-size: 0.9rem;
		gap: 6px;
		margin-bottom: 1rem;
		text-decoration: none;
	}

	&__info-icon {
		font-size: 0.9rem;
	}

	&__artist-albums {
		display: flex;
		gap: 2rem;
		overflow: scroll hidden;
		padding: 2rem 0rem;
		padding-top: 1.5rem;
	}

	&__artist-album {
		@include material-container--tertiary;
		border-radius: 0.75rem;
		display: flex;
	}

	&__artist-album-image {
		aspect-ratio: 1/1;
		overflow: hidden;
		border-radius: 0.75rem;
		width: 10rem;
	}
	&__album-title {
		padding: 0.75rem 0.5rem;
		text-align: center;
		font-weight: bold;
		font-size: 1.5rem;
	}
	&__artist-album-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		padding: 1rem 2rem;
		justify-content: center;
	}
	&__album-title {
		min-width: max-content;
	}
	&__album-details {
		@include material-button--basic-tertiary;
		display: flex;
		justify-content: center;
		gap: 0.25rem;
	}

	&__artist-link {
		@include material-basic--tertiary;

		&:hover {
			@include material-inverted--tertiary;
		}
	}
	&__artist-details {
		display: flex;
		gap: 0.5rem;
	}
}
