/* You can add global styles to this file, and also import other style files */
// @import "node_modules/bootstrap/scss/bootstrap-grid";
@import "material-you";
@import "fonts/font-material-symbols";

.material-theme {
	--calendar-special-color-light: #f32dd2;
	--calendar-excellent-color-light: #2dcbe6;
	--calendar-good-color-light: #0099ff;
	--calendar-above-average-color-light: #41dd36;
	--calendar-average-color-light: #eae689;
	--calendar-below-average-color-light: #faa721;
	--calendar-bad-color-light: #ff301a;
	--calendar-awful-color-light: #2e030e;


	--calendar-special-color-dark: #b31b99;
	--calendar-excellent-color-dark: #25a9c0;
	--calendar-good-color-dark: #1c78b5;
	--calendar-above-average-color-dark: #08a154;
	--calendar-average-color-dark: #b2b253;
	--calendar-below-average-color-dark: #a86f12;
	--calendar-bad-color-dark: #a81c0d;
	--calendar-awful-color-dark: #2e0510;
}

@media (prefers-color-scheme: light) {
	.material-theme {
		--calendar-special-color: #{var(--calendar-special-color-light)};
		--calendar-excellent-color: #{var(--calendar-excellent-color-light)};
		--calendar-good-color: #{var(--calendar-good-color-light)};
		--calendar-above-average-color: #{var(--calendar-above-average-color-light)};
		--calendar-average-color: #{var(--calendar-average-color-light)};
		--calendar-below-average-color: #{var(--calendar-below-average-color-light)};
		--calendar-bad-color: #{var(--calendar-bad-color-light)};
		--calendar-awful-color: #{var(--calendar-awful-color-light)};
	}

	.dark-theme {
		--calendar-special-color: #{var(--calendar-special-color-dark)};
		--calendar-excellent-color: #{var(--calendar-excellent-color-dark)};
		--calendar-good-color: #{var(--calendar-good-color-dark)};
		--calendar-above-average-color: #{var(--calendar-above-average-color-dark)};
		--calendar-average-color: #{var(--calendar-average-color-dark)};
		--calendar-below-average-color: #{var(--calendar-below-average-color-dark)};
		--calendar-bad-color: #{var(--calendar-bad-color-dark)};
		--calendar-awful-color: #{var(--calendar-awful-color-dark)};
	}
}

@media (prefers-color-scheme: dark) {
	.material-theme {
		--calendar-special-color: #{var(--calendar-special-color-dark)};
		--calendar-excellent-color: #{var(--calendar-excellent-color-dark)};
		--calendar-good-color: #{var(--calendar-good-color-dark)};
		--calendar-above-average-color: #{var(--calendar-above-average-color-dark)};
		--calendar-average-color: #{var(--calendar-average-color-dark)};
		--calendar-below-average-color: #{var(--calendar-below-average-color-dark)};
		--calendar-bad-color: #{var(--calendar-bad-color-dark)};
		--calendar-awful-color: #{var(--calendar-awful-color-dark)};
	}

	.light-theme {
		--calendar-special-color: #{var(--calendar-special-color-light)};
		--calendar-excellent-color: #{var(--calendar-excellent-color-light)};
		--calendar-good-color: #{var(--calendar-good-color-light)};
		--calendar-above-average-color: #{var(--calendar-above-average-color-light)};
		--calendar-average-color: #{var(--calendar-average-color-light)};
		--calendar-below-average-color: #{var(--calendar-below-average-color-light)};
		--calendar-bad-color: #{var(--calendar-bad-color-light)};
		--calendar-awful-color: #{var(--calendar-awful-color-light)};
	}
}

::-webkit-scrollbar {
	@include theme-transition();
    background: #23005c;
    background: #{var(--md-sys-color-background)};
}
::-webkit-scrollbar-thumb {
	@include theme-transition();
    border-radius: 32px;
    background: #e9ddff;
    background: #{var(--md-sys-color-inverse-surface)};
}
::selection {
	@include theme-transition();
    background: #23005c;
    color: #e9ddff;
    background: #{var(--md-sys-color-inverse-surface)};
    color: #{var(--md-sys-color-inverse-on-surface)};
}

html {
	@include media-breakpoint-down(sm) {
		font-size: 12px;
	}
}

body {
	font-family: "Poppins", $system-fallback-fonts;
	margin: 0;
	min-height: 100vh;
	background-color: #{var(--md-sys-color-background)};
}

.lightbox-open {
	overflow: hidden;

	>* theme-switcher {
		// visibility: hidden;
		z-index: -1;
	}
}

.material-symbols-rounded {
	@include material-symbols-rounded;
	user-select: none;
}

.light-theme, .dark-theme {
	@include theme-transition();
}

.noscript-wrapper {
	display: flex;
	width: 100%;
	min-height: 100vh;
    background-color: #003c94;
    color: white;
	padding-left: 8%;
    padding-top: 6%;
}

.noscript {
	display: block;
    width: 70%;
    font-size: 28px;
    font-weight: 300;
    font-family: "Segoe UI", Poppins, system-ui, -apple-system, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	@include media-breakpoint-down(md) {
		font-size: 24px;
	}

	@include media-breakpoint-down(md) {
		width: 90%;
	}

	&__spiel {
		margin-bottom: 24px;
	}

	&__progress {
		margin-bottom: 48px;
	}

	&__qr-code {
		float: left;
		margin-right: 24px;
		width: 150px;
		height: 150px;

		@include media-breakpoint-down(md) {
			width: 110px;
			height: 110px;
		}
	}

	&__error-text {
		font-size: 12px;
		margin-bottom: 12px;
		display: block;

		@include media-breakpoint-down(md) {
			font-size: 10px;
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		&--with-link {
			font-size: 16px;
			margin-bottom: 44px;

			@include media-breakpoint-down(md) {
				font-size: 14px;
				margin-bottom: 32px;
			}
		}
	}
}

.noscript-header {
    margin-bottom: 24px;

	&__text {
		display: flex;
		align-items: center;
		font-size: 165px;
		font-weight: inherit;

		@include media-breakpoint-down(md) {
			font-size: 155px;
		}
	}
}

.lightbox--closed {
	>* .i-amphtml-fill-content {
		pointer-events: none;
	}
}
