<!-- Cover page -->
<amp-story standalone title="My Music Tastes" publisher="Dartegnian Velarde" publisher-logo-src="assets/icons/icon-512x512.png"
	poster-portrait-src="assets/img/stories/music-likes-story/cover.webp">
	<amp-story-page id="cover" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/music-likes-story/cover.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical">
			<h1>Music I love listening to</h1>
			<em>As of 2023</em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page1" auto-advance-after="13s">
		<amp-story-grid-layer template="fill">
			<amp-video autoplay loop width="720" height="1280" poster="assets/img/stories/music-likes-story/aespa.webp" layout="responsive">
				<source src="assets/videos/stories/music-likes-story/aespa.mp4" type="video/mp4">
			</amp-video>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical">
			<h1 class="with-bg--black">Aespa</h1>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://www.youtube.com/watch?v=VRADZuvVzsI&pp=ygURYWVzcGEgcmVsYXkgZGFuY2U%3D" title="Link Description">Watch the Relay Dance</a>
		</amp-story-page-outlink>
	</amp-story-page>

	<amp-story-page id="page2" auto-advance-after="4s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/music-likes-story/lesserafim.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="thirds"  class="bottom">
			<div grid-area="lower-third"><h1 class="with-bg--black">Le Sserafim</h1></div>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page3" auto-advance-after="8s">
		<amp-story-grid-layer template="fill">
			<amp-video autoplay loop width="720" height="1280" poster="assets/img/stories/music-likes-story/snsd.webp" layout="responsive">
				<source src="assets/videos/stories/music-likes-story/snsd.mp4" type="video/mp4">
			</amp-video>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical">
			<h1 class="with-bg--black">SNSD</h1>
			<p>The nation's girl group: Girls' Generation!</p>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page4" auto-advance-after="5s">
		<amp-story-grid-layer template="fill">
			<amp-img src="assets/img/stories/music-likes-story/newjeans.webp" width="720" height="1280" layout="responsive">
			</amp-img>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical">
			<div><h1 class="with-bg--black">NewJeans</h1></div>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="bottom lower-gradient--black">
			<em>NewJeans is a 5-member girl group under ADOR and HYBE Labels. The members consist of Minji, Hanni, Danielle, Haerin, and Hyein. </em>
		</amp-story-grid-layer>
	</amp-story-page>

	<amp-story-page id="page5">
		<amp-story-grid-layer template="vertical" class="noedge">
			<div class="wrapper">
				<amp-img src="assets/img/stories/music-likes-story/beabadobee.webp" width="720" height="1280" layout="responsive" animate-in="fade-in"
					animate-in-delay="0.4s">
				</amp-img>
				<amp-img src="assets/img/stories/music-likes-story/paramore.webp" width="720" height="1280" layout="responsive" animate-in="fade-in"
					animate-in-delay="0.6s">
				</amp-img>
				<amp-img src="assets/img/stories/music-likes-story/taylorswift.webp" width="720" height="1280" layout="responsive" animate-in="fade-in"
					animate-in-delay=".8s">
				</amp-img>
				<amp-img src="assets/img/stories/music-likes-story/seventeen.webp" width="720" height="1280" layout="responsive" animate-in="fade-in"
					animate-in-delay="1s" class="img-cover">
				</amp-img>
			</div>
		</amp-story-grid-layer>
		<amp-story-grid-layer template="vertical" class="center-text">
			<p class="banner-text" animate-in="whoosh-in-right">And other artists!</p>
		</amp-story-grid-layer>
		<amp-story-page-outlink layout="nodisplay">
		  <a href="https://www.last.fm/user/Dartegnian" title="Link Description">See my music profile</a>
		</amp-story-page-outlink>
	</amp-story-page>
</amp-story>