amp-story {
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

amp-story-page {
	background-color: #000;
}

amp-story-grid-layer amp-img img {
    object-fit: cover;
}

h1 {
	font-weight: bold;
	font-size: 2.875em;
	font-weight: normal;
	line-height: 1.174;
}

p {
	font-weight: normal;
	font-size: 1.3em;
	line-height: 1.5em;
	color: #fff;
}

q {
	font-weight: 300;
	font-size: 1.1em;
}

amp-story-grid-layer.bottom {
	align-content: end;
}

amp-story-grid-layer.noedge {
	padding: 0px;
}

amp-story-grid-layer.center-text {
	align-content: center;
}

.wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
}

.banner-text {
	text-align: center;
	background-color: #000;
	line-height: 2em;
    margin-bottom: 0;
}

.with-bg {
	&--black {
		font-size: 2rem;
		background-color: black;
		padding: 1rem;
		width: fit-content;
	}
}

.top-gradient {
	&--black {
		background-image: linear-gradient(0turn, rgba(198, 0, 255, 0) 0%, #000 100%);
	}
}


.lower-gradient {
	&--black {
		background-image: linear-gradient(0turn, #000 0%, rgba(198, 0, 255, 0) 100%);
	}
}

.text-black {
	color: #000;
}
