@import "material-you";

:host {
	// flex-grow: 1;
	display: flex;
	align-items: stretch;
}

.profile-info {
	@include material-container--secondary;

	display: flex;
	padding: $container-padding;
	border-radius: $container-border-radius;
	flex-grow: 1;
	flex-direction: column;

	&__header {
		display: flex;
		align-items: center;
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 1rem;

		& > .material-symbols-rounded {
			margin-right: 0.5rem;
			font-size: inherit;
		}
	}

	&__detail {
		&:first-of-type {
			// margin-bottom: 2rem;
		}
	}

	&__links {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-rows: repeat(2, minmax(0, 1fr));
		grid-auto-flow: column;
		grid-gap: 2rem 2rem;

		@include media-breakpoint-down(lg) {
			grid-auto-flow: initial;		
			grid-template-columns: repeat(1, minmax(0, 1fr));
			grid-template-rows: repeat(2, minmax(0, 1fr));
		}
	}

	&__link-wrapper {
		display: flex;
		justify-content: left;
		align-items: center;
		overflow: hidden;

		& > .material-symbols-rounded {
			margin-right: 0.5rem;
		}
	}

	&__description {
		margin: 0rem;
	}

	&__description {
		color: #{var(--md-sys-color-on-background)};
	}

	&__link {
		@include material-button--tonal-tertiary-inverted;
	}

	&__link-text {
		flex-grow: 1;
		text-align: center;
	}
}